@font-face {
  font-family: 'abroder';
  src: url('../assets/font/abroder-icons.eot?21059672');
  src: url('../assets/font/abroder-icons.eot?21059672#iefix') format('embedded-opentype'),
       url('../assets/font/abroder-icons.woff?21059672') format('woff'),
       url('../assets/font/abroder-icons.ttf?21059672') format('truetype'),
       url('../assets/font/abroder-icons.svg?21059672#abroder') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "abroder";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-bitbucket:before { content: '\e800'; }
.icon-mail-alt:before { content: '\e801'; }
.icon-github-circled:before { content: '\e802'; }
.icon-rss:before { content: '\e803'; }
.icon-twitter:before { content: '\e804'; }