---
---

$blue: #007dcf;
$light-blue: #14a1ff;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  font: 13.34px 'Merriweather', Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro';
  font-size: 110%; 
}

h3, h4, h5, h6 {
  font-weight: 300;
  font-style: italic;
}

h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: 400;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: $blue; }
a:link {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-color: gray;
  border-bottom-style: dotted;
}
a:hover   { color: $light-blue; }
a:visited { color: black; }

table {
  font-size: inherit;
  font: 100%;
}

header nav {
  display: inline;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

.post span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

#page-header {
  margin: 20px 0 20px;
  border-bottom: 1px solid #eeeeee;

  h1.title {
    display: inline-block;
    margin-bottom: 2em;

    a {
      color: $blue;

      &:hover {
        color: $light-blue;
      }
    }
  }

  a {
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;

    &.extra {
      color: #aaa;
      margin-left: 1em;
    
      &:hover {
        color: $light-blue;
      }
    }

    &.selected {
      color: $light-blue;
      &:hover {
        color: $light-blue;
      }
    }
  }
}

#site {
  font-size: 115%;
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

#page-footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;

  .contact {
    float: left;
    margin-right: 3em;

    a {
      color: #8085C1;
    }
  }
}

#sidebar {
  text-align: justify;

  .contact {
    &:after {
      content: " ";
      display: inline-block;
      width: 100%;
    }

    a {
      border-bottom: none;
      color: grey;

      &:hover {
        .icon-rss {
          color: #ff6600;
        }

        .icon-twitter {
          color: #4099ff;
        }

        .icon-bitbucket {
          color: #205081;
        }

        .icon-mail-alt {
          color: #fe3949;
        }
      }
    }

    i {
      font-size: 4em;      
    }
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.jump-link {
  text-align: right;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

article.post {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  margin-bottom: 15px;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  aside {
    float: right;
    clear: left;
  }

  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }

  pre {
    code {
      border: none;
    }

    &.terminal {
      border: 1px solid #000;
      background-color: #333;
      color: #FFF;

      code {
        background-color: #333;
      }
    }
  }
}

.footnotes {
  font-size: 0.8em;

  p {
    margin: 0px;
  }

  .reversefootnote {
    margin-left: 5px;
  }
}

#profile-picture {
  background: url('{% asset img/aaron_broder.jpg %}') 0px 0px/160px 160px no-repeat;
  border-radius: 100%;
  width: 160px;
  height: 160px;
  margin: 0px auto 10px auto;
}

.banner-img {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  #sidebar .contact {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  #sidebar {
    padding: 10px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #sidebar .contact i {
    font-size: 3em;
  }
}

@media (min-width: 1200px) {
  #sidebar .contact {
    margin: 20px;
  }
}
