---
layout: default
title: projects
---

<p class="page-description">Below is a (non-comprehensive) list of projects that I've worked on for fun or for class. My criteria for picking a project to feature is largely random, but is in part determined by how much I enjoyed working on it, how interesting I think it was, and if it's complete enough that I feel comfortable talking about it. When possible, I included a link to the source code. If you want to see some more projects I've worked on, check out <a href="https://bitbucket.org/abroder/">my Bitbucket profile</a>.</p>

{% include collection_list.html collection=site.projects name='projects' %}