---
layout: default
title: home
---
<section id="introduction"> 
  <h2>Hey there! I'm Aaron Broder.</h2>

  <p>I'm a first year master's student at <a href="http://stanford.edu/">Stanford University</a>, studying computer science and creative writing. My interests are really all over the map, but I like systems programming, learning about how things work, and storytelling.</p>

  <p>On campus I'm active in the intro CS <a href="http://cs198.stanford.edu/">section leading</a> community. I was a section leader for four years and a small group leader for the last two, helping to train new section leaders. Now, I'm one of the three coordinators that runs the program. In addition, I used to be a member of the <a href="http://stanford.edu/group/mocktrial">Stanford Mock Trial</a> team, where I frequently pretended to be an expert in scientific fields I know little to nothing about, such as firearm safety, psycopathy, meteorology, pulmonary medicine, and the safety standards of the scuba diving industry. I also served as the vice president and organized our invitational tournament.</p>

  <p>I love reading and writing fiction, and I particularly enjoy writing screenplays. My favorite books, games, movies, and TV shows are generally whatever I've most recently read, played, or watched, so hit me up for a conversation! I'll be happy to let you know everything - probably more than you really want to know - about whatever it is I'm currently into.</p>

  <p>If you're interested in chatting, you can reach me on Twitter under the handle @<a href="http://twitter.com/abroder">abroder</a>, or by email at <a href="mailto:me@abroder.net">me@abroder.net</a>.</p>
</section>

