{% for post in include.collection %}
  <article class="post">
    <header>
      <h2>{{ post.title }}</h2>
      <span>{% include metadata/{{include.name}}.html %}</span>
    </header>

    <section class="content">
      {{ post.content }}
    </section>
  </article>
{% endfor %}