{% if post.languages %}
  Languages/Frameworks: {{ post.languages | join: ', ' }}
{% endif %}
{% if post.github and post.languages %} | {% endif %}
{% if post.github %}
  <a href="{{ post.github }}">source</a>
{% endif %}
{% if post.website and (post.github or post.languages) %} | {% endif %}
{% if post.website %}
  <a href="{{ post.website }}">website</a>
{% endif %}