<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,400,600,700|Merriweather:400,400italic,700' rel='stylesheet' />

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-42297017-1', 'abroder.net');
          ga('send', 'pageview');
        </script>     
    </head>
    <body>
      <div id="site" class="container">
        <header id="page-header">
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          <nav>
            {% for nav_page in site.nav %}
              <a class="extra{% if page.title == nav_page.title %} selected{% endif %}" href="{{ nav_page.url }}">{{ nav_page.title }}</a>
            {% endfor %}
            <a class="extra" href="https://www.dropbox.com/s/h4500tmwosnxh03/Aaron%20Broder%20Resume.pdf?dl=1">résumé</a>
          </nav>
        </header>

        <section class="content row-fluid">
          <div id="primary" class="span8">
            {{ content }}
          </div>
          <section id="sidebar" class="span4">
            <section id="profile-picture">
              <img style="opacity: 0" src="{% asset img/aaron_broder.jpg %}" />
            </section>
	          {% if site.posts.size > 0 %}
            <section id="recent-posts">
              <h2>Recent Posts</h2>
              <ul class="posts">
                {% for post in site.posts limit: 5 %}
                <li class="post"><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
                {% if site.posts.size > 5 %}<li class="jump-link"><a href="/blog">And More &rarr;</a></li>{% endif %}
              </ul>
            </section>
            {% endif %}
            <section class="contact">
              <a href="/feed.xml"><i class="icon-rss"></i></a>
              <a href="http://twitter.com/abroder"><i class="icon-twitter"></i></a>
              <a href="http://github.com/abroder"><i class="icon-github"></i></a>
              <a href="mailto:me@abroder.net"><i class="icon-envelope"></i></a>
            </section>

          </section>
        </section>

        <footer id="page-footer" class="contact">
          <p><small>Copyright {{ 'now' | date: "%Y" }} Aaron Broder. Built on <a href="http://jekyllrb.com">Jekyll</a> with as little <a href="http://twitter.github.io/bootstrap/">Bootstrap</a> as I could manage. Sidebar icons from <a href="http://fontawesome.io/">Font Awesome</a> by Dave Gandy.</small></p>
        </footer>
      </div>
    </body>
</html>
