---
layout: default
---
<article class="post">
  <header>
    <h2>{{ page.title }}</h2>
    <span>{{ page.date | date_to_string }} | <a href="{{ page.url }}">permalink</a></span>
  </header>

  <section class="post-content">
    {{ content }} 
  </section>
</article>
