---
layout: default 
title: That One Time When I Was Banned from Hewlett
---
  <section>
    <header>
      <h2>{{ page.title }}</h2>
    </header>
    <p>It was the spring of 2012, and it was time to find a new batch of section leaders for the CS198 program. At the weekly Monday Meeting, the coordinators handed out flyers to hang around campus on phone poles and dorm corkboards</p>

    <p>A few of us, however, were not content with merely "flyering." We had heard tales of old, of section leaders who were bold and dared to flyer in ways that no modern section leader dared even to dream of. In an attempt to recapture that time of glory and heroism, we decided that we should instead turn the flyers into a giant <a href="http://en.wikipedia.org/wiki/Karel_(programming_language)">Karel the Robot</a> (a symbol of CS106A, Stanford's intro CS class, and by extension, a symbol of the section leading program). But where? Why, outside the Hewlett Teaching Center, a building with a very appealing, large, blank wall not too far from the Gates Computer Science Building. That week, before going to the weekly computer science tradition of Friday Foursquare, we completed our quest.</p>

    <img alt="Three bold looking adventurers, standing in front of a wall featuring a large Karel the Robot made out of flyers" src="{% asset img/hewlett_karel.jpg %}" />

    <p>Unfortunately, the building manager of Hewlett did not take kindly to our tremendous feat; within half an hour, we watched from Friday Foursquare, with dismay, as our Karel was torn off the wall. A very angry email was sent to our bosses, the address having been conveniently provided by us on the numerous flyers we had hung on the wall.</p>

    <p>Our bosses, however, appreciated our attempt to reclaim old-fashioned section leader values, and rewarded us appropriately at our end of the year feast.</p>

    <img alt="A section leader superlative, reading 'Banned from Hewlett'" src="{% asset img/banned_from_hewlett.jpg %}" />
  </article>